<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет New -->
{% block title %}
new
{% endblock title %}

{% block content %}
    <h1>Важная новость</h1>
    <hr>
    {% if new %}
        <table>
            <tr>
                <td> Заголовок </td>
                <td> Дата публикации </td>
                <td> Описание </td>
            </tr>

            <tr>
                <td>{{ new.name|truncatewords:6 }}</td>
                <td>{{ time_now|date:'d M Y' }}</td>
                <td>{{ new.description}}</td>

            </tr>

        </table>
    {% else %}
        <h2> Новостей нет! </h2>
        {% endif %}
{% endblock content %}
<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
