{% extends 'flatpages/default.html' %}
{% load i18n %}
<!--{% load cache %} &lt;!&ndash; Загружаем кэширование &ndash;&gt;-->
{% block content %}
{% if post %}
<!--{% cache 300 sidebar %} &lt;!&ndash; Кэшируем отдельный блок на 300 секунд &ndash;&gt;-->
<table width="100%" style="margin-top: 35px">
    <tr>
        <td><u>{% trans 'Headline' %}</u></td>
        <td><u>{% trans 'Publication date' %}</u></td>
        <td><u>{% trans 'Description' %}</u></td>
    </tr>
<!--    {% endcache %}-->
    <tr>
        <td>{{ post.title }}</td>
        <td>{{ post.creation_time_in|date:'d M Y' }}</td>
        <td>{{ post.text}}</td>
    </tr>
</table>

{% else %}
<h3>{% trans 'No publications!' %}</h3>
{% endif %}
{% endblock content %}


